@import "tailwindcss";

:root {
  --gh-ink: #241a12;
  --gh-paper: #f6f1e7de;
  --gh-green: #1e6f5c;
  --gh-mustard: #d9a441;
  --gh-line: #c9bfae;

  /* 🌿 Colores principales */
  --color-primary: #3a7d44; /* Verde principal */
  --color-primary-light: #5fae6e; /* Verde claro */
  --color-primary-dark: #2c5e34; /* Verde oscuro */

  /* 🌱 Secundarios */
  --color-secondary: #a3b18a; /* Verde suave */
  --color-accent: #ddb892; /* Beige cálido natural */

  --color-bg-image: #50371e;

  /* 🤍 Neutrales */
  --color-background: #f8f7f4; /* Fondo general */
  --color-surface: #ffffff; /* Cards */
  --color-border: #e5e5e5; /* Bordes suaves */

  /* 🖤 Texto */
  --color-text-primary: #1f2933; /* Texto principal */
  --color-text-secondary: #6b7280; /* Texto secundario */
  --color-text-muted: #9ca3af; /* Placeholder */

  /* 🚦 Estados */
  --color-success: #4caf50;
  --color-error: #e53935;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;

  /* 🌿 Extras marca */
  --color-organic: #9aaf91;
  --color-natural-bg: #e4f0df;

  /* 📱 UI */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;

  --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);

  --font-sans: "Inter", sans-serif;
  --font-display: "Playfair Display", serif;
}

@theme inline {
  /* 🎨 Colores */
  --color-bg: var(--color-background);
  --color-fg: var(--color-text-primary);

  --color-primary: var(--color-primary);
  --primary-light: var(--color-primary-light);
  --primary-dark: var(--color-primary-dark);

  --color-text-primary: var(--color-text-primary);
  --text-secondary: var(--color-text-secondary);
  --text-muted: var(--color-text-muted);

  --color-accent: var(--color-accent);
  --color-card: var(--color-surface);
  --color-border: var(--color-border);

  /* 🔤 Tipografía */
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);

  /* 🔘 Radios */
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);

  /* 🌫 Sombras */
  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f2a23;     
    --foreground: #f4f1ea;

    --primary: #a7c4a0;        
    --primary-soft: #4e6b57;   
    --accent: #d9b97a;        
    --card: #2b3a31;
    --border: #3f5448;
  }
}

*/

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

@keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

input:-webkit-autofill {
  animation-name: onAutoFillStart;
  animation-duration: 0.001s;
}
